# Custom ignores
flora/src/libflora.def
inet4.4/out/clang-release/src/libINET.def
inet4.4/src/libINET.def
inet4.4/out/clang-release/src/.last-copts
inet4.4/out/clang-release/src/inet/
inet4.4/src/inet/opp_defines.h
inet4.4/src/Makefile
inet4.4/.settings/
inet4.4/**/*_m.cc
**/*.vci

tflite-micro-arduino-examples/out/
tflite-micro-arduino-examples/.settings/language.settings.xml

# modelfiles and training data:
python_scripts/g_model
flora/simulations/scenarios/basecontrolcase/stationaryPacketLog.json
inet4.4/src/inet/RL/modelfiles/
python_scripts/baselines3/basecase/stable-model-best/
python_scripts/baselines3/basecase/stable-model.zip
python_scripts/baselines3/stable-model-2d-best/
python_scripts/baselines3/stable-model.zip

# temporary evaluation data (move to a different directory if you need to back it up)
flora/simulations/scenarios/advancedcase/logFile_*.json
python_scripts/baselines3/env_log.json

# Python
python_scripts/venv/
python_scripts/__pycache__/
python_scripts/.idea/
*.pyc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib



# Executables
*.exe
*.out
*.app
