# Custom ignores
flora/.nedfolders
flora/.oppbuildspec
flora/.project
flora4.4/.settings/language.settings.xml
flora/.nedexclusions
inet4.4/out/clang-release/src/.last-copts
inet4.4/out/clang-release/src/inet/
inet4.4/src/inet/opp_defines.h
inet4.4/src/Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
