# Custom ignores
flora/src/libflora.def
inet4.4/out/clang-release/src/libINET.def
inet4.4/src/libINET.def
inet4.4/out/clang-release/src/.last-copts
inet4.4/out/clang-release/src/inet/
inet4.4/src/inet/opp_defines.h
inet4.4/src/Makefile
inet4.4/.settings/
*_m.cc
tflite-micro-arduino-examples/Makefile
tflite-micro-arduino-examples/src/Makefile



# modelfiles and training data:
flora/simulations/scenarios/basecase/logFile.txt
flora/simulations/scenarios/basecase/logFile_*.txt
python_scripts/g_model
flora/simulations/scenarios/basecontrolcase/stationaryPacketLog.json
inet4.4/src/inet/mobility/RL/modelfiles/

python_scripts/venv/
python_scripts/__pycache__/
python_scripts/.idea/
*.pyc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
